<div class="bg-gray-400">

<div class="flex justify-around p-5">
    <div class="text-white">
        <i class="fa fa-map-marker" aria-hidden="true" style="color: black; font-size: 20px;">Our Address</i>
        <p >
            Muraai Information Technologies Pvt. Ltd.  <br>
            Site No. 519, 2nd Floor, 24th Main, 2nd Sector, <br>
            HSR Layout, Bangalore - 560102.</p>
    </div>
    <div class="text-white">
        <i class="fa fa-phone" aria-hidden="true" style="color: black; font-size: 20px;">Call us</i>
        <p >Tel: +91 98801 36000</p>
    </div>
    <div class="text-white">
        <i class="fa fa-envelope" aria-hidden="true" style="color: black; font-size: 20px;">E-mail </i> 
        <p >contactus@muraai.com</p>
    </div>
</div>

      <div class="social">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-snapchat"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </div>
      <p class="text-white text-center">All rights reserved @ 2023</p>
</div>

