.table{
    border: 2px solid grey;
    border-radius: 10px;
    margin: auto;
    border-collapse: collapse;
   
}
.header{
    background-color: rgb(72, 72, 168);
    color: white;
    font-size: large;
    text-transform: uppercase;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .mat-sort-header-icon {
    color: white !important; /* Set the color to white */
  }