
   .pie1{
    
    
  color: red;
    width: 500px;
   }
.heading{
  
    color: blue;
    font-weight: bold;
}
.pie1-1{
    margin-top: -60px;
    margin-left: 100px;
}
  .head{
    margin: auto;
    margin-top: 20px;
  }
  /* Add any additional styling for the container, such as padding or background color */
  