<div class="bg-slate-500 mt-3"><p class="text-center text-xl font-bold  text-yellow-300">Event-table</p></div>
<!-- Inside your component's template (e.g., events.component.html) -->
<div class="relative text-gray-600">
  <input [(ngModel)]="filterText"
    class=" ml-16 border-2 border-gray-300 bg-white h-10 px-5 pr-10 rounded-lg text-sm focus:outline-none"
    type="search"
    name="search"
    placeholder="Search by first_name..."
  >
</div>
<div class="container mx-auto p-5">
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
        <tr class="bg-blue-500">
          <th class="py-2 px-4 border-b">Event Code</th>
          <th class="py-2 px-4 border-b">Event Name</th>
          <th class="py-2 px-4 border-b">Event Date</th>
          <th class="py-2 px-4 border-b">Event Type</th>
          <th class="py-2 px-4 border-b">Event Organizer</th>
        
          <th class="py-2 px-4 border-b">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events | paginate:{
          itemsPerPage:tablesize,
          currentPage:page,
          totalItems:count
        };let i index">
          <td class="py-2 px-4 border-b">{{ event.eventcode }}</td>
          <td class="py-2 px-4 border-b">{{ event.eventname }}</td>
          <td class="py-2 px-4 border-b">{{ event.eventdate | date:'mediumDate' }}</td>
          <td class="py-2 px-4 border-b">{{ event.eventtype }}</td>
          <td class="py-2 px-4 border-b">{{ event.eventorganizer }}</td>
         
          <td class="py-2 px-4 border-b">
            <button *ngIf="hasAdminRole()"  class="bg-blue-500 text-white py-1 px-2 rounded mr-2" (click)="openUpdateEventDialog(event)" >Edit</button>
            <button *ngIf="hasAdminRole()"  class="bg-red-500 text-white py-1 px-2 rounded" (click)="openConfirmationPopup(event.eventcode)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <pagination-controls
      previousLabel="pre"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >  
      </pagination-controls>
     </div>
  </div>
  

