
  .sidenav-container {
    height: 100%;
    margin-top: 50px;
  }
  
  .sidenav {
    width: 200px;
   
 
  }
  .user{
    display: flex;
    justify-content: end;
    margin-left: auto;
  }
  /* Add this to your component's CSS file */
.primary{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; 
}